.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
*.vsix
generate-icon.js
.kilo/**
dev_err.txt
dev_out.txt
out/test/**
*.vsix
**/*.vsix
src/**

